.portfolio-table {
  border-collapse: collapse;
}

.td {
  height: 3rem;
  border-bottom: 1px solid #ddd;
}

.portfolio-table__ticker,
.portfolio-table__shares {
  text-align: left;
}

.portfolio-table__value {
  text-align: right;
}
