.td {
  height: 3rem;
  border-bottom: 1px solid #ddd;
}

.transactions-table {
  width: 100%;
  border-collapse: collapse;
}

.transactions-table__ticker {
  text-align: left;
}

.transactions-table__price {
  text-align: right;
}
